{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get-it</title>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'notes/getit.css' %}" />
  </head>

  <body>
    {% block content %} {% endblock %}
    <script src="{% static 'notes/getit.js' %}"></script>
  </body>
</html>